.blog {
  display: flex;
}

.blog-container {
  max-width: 1500px;
  display: flex;
  font-family: "Poppins", sans-serif;
  width: 100%;
  justify-content: center;
  padding-bottom: 10px;
}

.card-blog {
  width: 300px;
  height: 95%;
  border-radius: 10px;
}

.card-blog img {
  width: 300px;
  border-radius: 10px;
  height: 200px;
  margin: 0;
}

.card-content {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.card-content p {
  margin-top: 5px;
  font-size: 12px;
}

.card-content h4 {
  margin: 15px 0px 5px 0;
  color: #935f31;
  font-size: 14px;
}

.category-tag {
  position: relative;
  background: #e0ac69c7;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  right: 10px;
  bottom: 190px;
  text-transform: capitalize;
  z-index: 999;
}
